<div class="container" style="max-width: 800px;">
  <div class="row justify-content-center mb-3 mt-4">
    <h1>你想對誰說幹話?</h1>
  </div>
  {{!-- <div class="row justify-content-center"> --}}
  <form action="/" method="POST">
    <div class="row">
      {{#each targetsCH}}
      <div class="form-check col mb-3 mx-1">
        <div class="card border-light" style="margin:0 auto;">
          <div class="d-flex justify-content-center">
            <label for="{{@key}}">
              <div class="label-img {{@key}}"></div>
              <div class="mt-2" style="text-align:center;">{{this}}</div>
            </label>
          </div>
          <div class="card-body d-flex justify-content-center align-items-center">
            <input type="radio" name="target" value="{{@key}}" class="form-check-input m-0" id="{{@key}}"
              {{#ifEq @key ../target }} checked {{/ifEq}}>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{#if noTarget}}
    <div class="alert alert-danger" role="alert">
      <strong>尚未選擇對象！</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}
    <div class="d-flex flex-wrap my-4 mx-2 " style="width:100%; min-height:50px;">
      <div class="mb-1">
        <button type="submit" class="btn btn-primary mr-3">產生幹話</button>
      </div>
      <div class="border border-secondary flex-grow-1 p-2" style="min-width:200px;margin-right:15px;">
        {{#if rubbishTalk}} {{rubbishTalk}} {{/if}}
      </div>
    </div>
  </form>


</div>
</div>
</div>

</form>
{{!-- </div> --}}
</div>